[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
aiohttp = "<4,>=3.9.0"
asyncpg = ">=0.29.0"
sqlalchemy = {extras = ["asyncio"], version = "*"}
sentry-sdk = {extras = ["fastapi"], version = "*"}
python-multipart = "*"

[dev-packages]
uvicorn = {extras = ["standard"] }
ruff = "*"
ssort = "*"
alembic = "*"

[requires]
python_version = "3.12"

[scripts]
lint = "ruff check . --fix"
lint-ci = "ruff check ."
format = "ruff format ."
format-ci = "ruff format . --check"
sort = "ssort ."
